<h1>Congrats! All successfully done.</h1>
<h2> Thank you for shopping at <strong>Flopa</strong>.</h2>
<p>You will receive an email confirmation shortly at info@flopa.com</p>

<% @products.map do |product| %>
     <% product.quantity -= product.quantity %>
<% end %>
