<h2 class="confirmation">Congrats! All successfully done.</h2>
<h3> Thank you for shopping at <strong class="red font">Flopa</strong>.</h3>
<p>You will receive an email confirmation shortly at info@flopa.com</p>

<img class="final-pic" src="/assets/flopa.jpg" alt="flopa logo">


