<h2>All order list:</h2>

<% @order.products.each do |product| %>
        <ul>
            <li>
            <p><%= product.id %> = productName <%= order.date %></p>
            </li> 
        </ul>

<% end %>

<button class="return-home"><%= link_to 'Home', root_path %></button>

<button class="buy"><%= link_to 'Buy', confirmation_path %></button>