<h2>Your Orders History</h2>
<% @orders.each do |order| %>
    <% unless order.products.empty? %>
    <ul>
        <li>
            <p><%= order.products.size %> products in <%= order.order_date.try(:in_time_zone, 'Australia/Sydney').try(:strftime, "%d/%m/%Y")  %> at <%= order.order_date.try(:in_time_zone, 'Australia/Sydney').try(:strftime, "%I:%M %p") %></p>
        </li>
    </ul>
    <% end %>
<% end %>

