<h1 class="home-page">Welcome to <strong class="red">Flo</strong>wers <strong class="red">Pa</strong>radise!</h1>

<div class="products">
    <% @products.each do |product| %>
        <div class="border">
            <div class="grid-container">
                <%= link_to image_tag(product.image, :class => "thumb"), product, :class => "figure-img img-fluid rounded" %>
                <figcaption class="figure-caption"><%= product.name %></figcaption>
            </div>
        </div>
    <% end %> 
</div>
