@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lobster');

// nav bar
.logo {
    color: red;
    font-family: 'Lobster', cursive;
    font-size: 30px; 
}
.logo:hover {
    color: green;
}

.disabled {
    text-shadow: 0 0 1px white;
}

// body

body {
    background: bisque;
}

h1, h2, h3, p {
    text-align: center;
    margin: 15px 0;
    text-shadow: 5px 5px 15px gray;
}

.red {
    color: red;
}

// cover page

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.red {
    color: red;
}

.panel1 { background-image:url("/assets/gardening1.jpg"); }
.panel2 { background-image:url("/assets/gardening2.jpg"); }
.panel3 { background-image:url("/assets/bg-middle.jpg"); }
.panel4 { background-image:url("/assets/gardening3.jpg"); }
.panel5 { background-image:url("/assets/gardening4.jpg"); }

  /* Flex Items */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}
  
.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    flex: 5;
    font-size: 40px;
}
  
@media only screen and (max-width: 600px) {
    .panel p {
      font-size: 1em;
    }
}

.homepage {
    background-size: cover;
}
// sign In/Up

.form {
    max-width: 40%;
    max-height: 50%;
    margin: 0 auto;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}

.login {
    display: block;
    width: 150px;
}

// Home page
.home-page {
    font-family: 'Lobster', cursive;
}

.border {
    border: 2px solid grey;
    box-shadow: 0 0 2px gray;
    widows: 200px;
}

.products {
    width: 800px;
    margin: 0 auto;
    background: white;
    box-shadow: 5px 5px 15px gray;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 30%;
    grid-template-rows: auto;
    padding: 10px;
}

.thumb {
    max-width: 10em;
    display: flex;
    margin: 0 auto;
}

// product show

.product-show {
    width: 960px;
    margin: 0 auto;
}

.feature {
    max-width: 90%;
    border: 2px solid lightgray;
    border-radius: 1em;
    box-shadow: 3px 3px 10px gray;
}

.show {
    width: 960px;
    display: -webkit-flex; /* Safari */
    display: flex;
}
  
.show-item {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
    text-align: center;
}

.desc {
    text-align: justify;
}

.price {
    text-align: center;
    font-size: 24px;
}

.title {
    text-shadow: 5px 5px 15px gray;
    margin: 30px;
}

.quantity {
    text-align: left;
    font-weight: bolder;
}

.height {
    height: 40px;
}

// cart and order history

.list {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}

.buy-button {
    display: block;
    width: 200px;
    margin: 30px auto;
    font-size: 16px;
}

// confirmation page

.confirmation {
    margin: 30px;
}

.final-pic {
    border-radius: 100%;
    display: block;
    width: 200px;
    height: 170px;
    margin: 50px auto;
    box-shadow: 10px 10px 15px gray;
}




