<h1>Congrats!</h1>
<h2> Thank you for your order </h2>
<%# <h4>Order number is: <%= @product.id %></h4> %>
<p>You will receive an email confirmation shortly at info@flopa.com</p>

<button class="return-home"><%= link_to 'Shop More', root_path %></button>

